.header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav__item {
    margin-left: 3rem;
}

.header-nav__item-link {
    text-decoration: none;
    color: #000;
}

.form-logout__button {
    border: none;
    background-color: #fff;
    font-size: medium;
    cursor: pointer;
}

.main {
    background-color: #f5f5f5;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.search {
    width: 18%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-button {
    border: 1px solid #2828ff;
    color: #2828ff;
    background-color: #fff;
    padding: 0.1rem 0.7rem;
    font-size: large;
    cursor: pointer;
}

.search-date {
    font-size: large;
    font-weight: bold;
}

.main-content {
    width: 80%;
    margin: 2rem auto 1rem;
}

table {
    width: 100%;
    text-align: left;
}

tr {
    border-top: 2px solid #b1b1b1;
}

th {
    width: 20%;
    padding: 1rem 1rem 1rem 4rem;
}

td {
    width: 20%;
    padding: 1rem 1rem 1rem 4rem;
}

.pagination {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: #489aff;
}

.pagination li {
    display: inline-block;
    background-color: #fff;
    border-right: 3px solid #f5f5f5;
    padding: 0.5rem 1rem;
    margin: 0;
}

.pagination li:first-child {
    border-radius: 5px 0 0 5px;
}

.pagination li:last-child {
    border-right: none;
    border-radius: 0 5px 5px 0;
}

.page-link {
    text-decoration: none;
    font-weight: bold;
    color: #489aff;
}

.page-link:visited {
    color: #489aff;
}

.page-item.active  {
    background-color: #489aff;
    color: #fff;
}

.page-active {
    color: #fff;
    font-weight: bold;
}